<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="assets/images/botlogo.png" type="image/x-icon">

  <title>
    Themisto
  </title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css" />

  <!-- Custom styles for this template -->
  <link href="assets/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="assets/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="index.html">
          <span>
            <img src="assets/images/botlog.png" alt="" width = "60" height ="60" style="margin-right: 10px;"/>THEMISTO
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  ">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="shop.html">
                Shop
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="features.html">
                Features
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="why.html">
                Why Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="testimonial.html">
                Testimonial
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact Us</a>
            </li>
          </ul>
          <div class="user_option">
            <a href="">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span>
                Login
              </span>
            </a>
            <a href="">
              <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </a>
            <form class="form-inline ">
              <button class="btn nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <!-- end header section -->
    <!-- slider section -->

    <section class="slider_section">
      <div class="slider_container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1>
                        iPhone Extravaganza!!! Unmatched Tech at Your Fingertips
                      </h1>
                      <h4>
                        Shop Now and Experience a New Digital Frontier!
                      </h4>
                      <a href="">
                        Contact Us
                      </a>
                    </div>
                  </div>
                  <div class="col-md-5 ">
                    <div class="img-box">
                      <img src="assets/images/iphone.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1>
                        Style Meets Comfort: Elevate Your Shoe Game Today! 
                      </h1>
                      <h4>
                        Discover Trendsetting Designs Crafted for Unmatched Comfort.
                      </h4>
                      <a href="">
                        Contact Us
                      </a>
                    </div>
                  </div>
                  <div class="col-md-5 ">
                    <div class="img-box">
                      <img src="assets/images/shoes.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1>
                        Soundscapes Unleashed: Your Ultimate Headset.
                      </h1>
                      <h4>
                        Immerse in Audio Bliss, Every Beat, Every Note.
                      </h4>
                         <a href="">
                        Contact Us
                      </a>
                    </div>
                  </div>
                  <div class="col-md-5 ">
                    <div class="img-box">
                      <img src="assets/images/headset.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="carousel_btn-box">
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </a>
            <img src="images/line.png" alt="" />
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- end slider section -->
  </div>
  <!-- end hero area -->

  <!-- shop section -->

  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
         Fresh Picks
        </h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="assets/images/headset.png" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Headset
                </h6>
                <h6>
                  Price
                  <span>
                    $200
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="assets/images/p2.png" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Watch
                </h6>
                <h6>
                  Price
                  <span>
                    $300
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="assets/images/bicycle.png" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Bicycle
                </h6>
                <h6>
                  Price
                  <span>
                    $110
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="assets/images/headset2.png" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Headset
                </h6>
                <h6>
                  Price
                  <span>
                    $450
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="assets/images/iphone.png" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  iPhone
                </h6>
                <h6>
                  Price
                  <span>
                    $950
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="assets/images/laptop.png" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Laptop
                </h6>
                <h6>
                  Price
                  <span>
                    $700
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="assets/images/p7.png" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Watch
                </h6>
                <h6>
                  Price
                  <span>
                    $400
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="assets/images/purse.png" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Purse
                </h6>
                <h6>
                  Price
                  <span>
                    $45
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end shop section -->

  <!-- saving section -->

  <section class="saving_section ">
    <div class="box">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="img-box">
              <img src="assets/images/saving-img.png" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  Best Savings on <br>
                  new arrivals
                </h2>
              </div>
              <p>
                Embrace the thrill of unbeatable deals and incredible savings on our latest arrivals! From fashion-forward pieces to cutting-edge gadgets, our curated collection has something for everyone.              </p>
              <div class="btn-box">
                <a href="#" class="btn1">
                  Buy Now
                </a>
                <a href="#" class="btn2">
                  See More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end saving section -->

  <!-- why section -->

  <section class="why_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Key Features of our Virtual Assistant
        </h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="box">
            <div class="img-box">
  
            </div>
            <div class="detail-box">
              <h5>
                Lead scoring and nurturing
              </h5>
              <p class="text-justify">
                Chatbots and AI can conduct automated lead nurturing and foster the entire lead nurture and conversion journey by contacting, engaging, and qualifying prospects in place of a human rep. Plus, our bots, functioning as lead nurturing automation tools, can answer prospect questions by integrating with your existing knowledge base, and can even redirect the conversation to the correct sales rep or manager for assistance when and if needed.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="img-box">
  
            </div>
            <div class="detail-box">
              <h5>
                Scheduling support
              </h5>
              <p class="text-justify">
                Conversational AI for sales can address this demand, without significant additional effort or resources from the company. Our bots integrate seamlessly with your scheduling software, allowing customers to quickly and easily book calls and demos from the channel of their choice without waiting on your reps. Our bots can even be used to proactively reach out to and book meetings with prospects whenever they reach new stages in your funnel or when other predefined events occur.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="img-box">
  
            </div>
            <div class="detail-box">
              <h5>
                Sales forecasting
              </h5>
              <p class="text-justify">
                AI for sales forecasting can provide a variety of solutions, including bots, that can help solve some of the biggest problems companies face today. Our bots can help gather the data needed from suspects, prospects, and past and current customers to build predictive models. Our bots can also integrate seamlessly with existing back-end systems and forecasting software, allowing sales managers and leaders to quickly access predictions, recommendations, and reports whenever needed.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
           
            <div class="detail-box">
              <h5>
                Lead segmentation
              </h5>
              <p class="text-justify">
                Our intelligent bot excels in lead segmentation, utilizing advanced algorithms and data analysis to categorize and prioritize leads based on various criteria such as demographics, behavior, and engagement level. By automating lead segmentation, our bot can efficiently identify the most promising prospects and route them to the appropriate sales representatives, streamlining the sales process and ensuring that your team.    </div>
          </div>
        </div>
      
        <div class="col-md-4">
          <div class="box">
            <div class="img-box">
  
            </div>
            <div class="detail-box">
              <h5>
                Opportunity scoring and guided selling
              </h5>
              <p class="text-justify">
                Bots built on our platform can sync with your back-end systems to provide sales reps with the data and insights they need – such as win or loss probabilities and potential closing dates – to prioritize opportunities. Our bots can also act as sales enablement tools. The bots are able to do this by making data-driven recommendations on products,helping increase the likelihood of advancing and closing deals throughout all stages of the buyer’s journey.              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="img-box">
  
            </div>
            <div class="detail-box">
              <h5>
                Contact analytics 
              </h5>
              <p class="text-justify">
                Our AI-powered virtual assistant excels in contact analytics, allowing it to understand customer behavior and preferences. It can intelligently segment leads based on various criteria, ensuring that your sales team focuses on the right prospects with personalized and targeted communications. With our virtual assistant's contact analytics, you can tailor your sales approach, enhance customer engagement, and drive higher conversion rates.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    
  </section>
  
  <!-- end why section -->


  <!-- gift section -->

  <section class="gift_section layout_padding-bottom">
    <div class="box ">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5">
            <div class="img_container">
              <div class="img-box">
                <img src="assets/images/bot.png" alt="">
              
              </div>
             
            </div>
          </div>
          <div class="col-md-7">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  Overcome the Pain Points
                </h2>
              </div>
              <p class="text-justify">
                 By Revolutionizing Solutions with Our AI-powered Chatbots  <br>            <div class="btn-box">
                  Streamline Sales with AI-powered Chatbots:    Empower Your Sales Team with AI-Powered Chatbots: Our cutting-edge chatbots leverage advanced algorithms and predictive analytics to perform seamless sales prediction and analysis.  <br>            <div class="btn-box"></div>
                  Empower Your Business with AI Sales Forecasting:                Our AI-powered chatbot is a game-changer in the world of sales forecasting. By leveraging advanced machine learning and predictive analytics, it accurately predicts future sales of your products, giving you invaluable insights into market trends and customer behavior. <br>            <div class="btn-box"></div>
                  Effortless Lead Nurturing and Campaigning with Our AI-Powered Chatbot:   Our advanced AI-powered chatbot takes the lead nurturing and campaigning process to new heights, offering a seamless and automated solution. By harnessing the power of artificial intelligence, our chatbot reduces the time and effort required from the user's side, ensuring a smooth and efficient lead management experience.  <br>            <div class="btn-box"></div>
                  Experience Seamless Meeting Scheduling with Our AI-powered Chatbot:     Our AI-powered chatbot is the ultimate sales assistant that empowers your organization with seamless meeting scheduling capabilities. By harnessing the power of artificial intelligence, it simplifies the process, allowing sales professionals to focus on what matters most - building relationships and closing deals.
            
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end gift section -->

  <!-- client section -->
  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          ABOUT US
        </h2>
      </div>
    </div>
    <div class="container px-0">
      <div id="customCarousel2" class="carousel  carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="box">
              <div class="client_info">
                <div class="client_name">
                  <h5>
                    Feron Arockiam
                  </h5>
                  <h6>
                    Backend developer / Bot developer
                  </h6>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <p>
                As a seasoned bot developer with extensive expertise in the XO Kore.ai platform, my journey in the realm of artificial intelligence and chatbots has been driven by an unwavering passion for crafting cutting-edge conversational experiences. Alongside my proficiency in frontend development, I also excel in backend implementation. This allows me to leverage the full potential of Kore.ai, enabling me to design intelligent and interactive bots that engage users in natural, meaningful conversations. As an innovator in this field, I take pride in my ability to create seamless user experiences and stay at the forefront of chatbot technology.</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box">
              <div class="client_info">
                <div class="client_name">
                  <h5>
                    Mohammed Feroz
                  </h5>
                  <h6>
                    Bot Developer / Backend developer
                  </h6>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <p>
                As a highly skilled and seasoned bot developer with a relentless passion for creating cutting-edge conversational experiences, I specialize in the XO Kore.ai platform and excel in the world of artificial intelligence and chatbots. My journey in this realm has been driven by an unwavering commitment to innovation, and I take immense pride in crafting bots that engage users in natural, meaningful conversations. With a holistic approach to bot development, I possess exceptional expertise in both frontend and backend implementation, ensuring seamless integration and optimal performance. Leveraging the full potential of Kore.ai, I design intelligent and interactive bots that go beyond expectations, providing users with unparalleled experiences that leave a lasting impression.</div>
          </div>
          <div class="carousel-item">
            <div class="box">
              <div class="client_info">
                <div class="client_name">
                  <h5>
                    Rahul
                  </h5>
                  <h6>
                     Bot Developer / Backend developer
                  </h6>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <p>
                I am an accomplished bot developer specializing in crafting intelligent conversational experiences within the XO Kore.ai platform. My passion lies in the world of artificial intelligence and natural language processing, where I excel in creating sophisticated chatbots that can interpret user intents, respond dynamically, and streamline various tasks.With in-depth expertise in the Kore.ai platform, I possess the ability to tailor bots to specific use cases.  </div>
          </div>
          <div class="carousel-item">
            <div class="box">
              <div class="client_info">
                <div class="client_name">
                  <h5>
                    Aatif Ahamed
                  </h5>
                  <h6>
                    Bot Developer
                  </h6>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <p>
                I am an adept bot developer specializing in the XO Kore.ai platform, where I thrive in crafting intelligent and interactive chatbots. My passion lies in the realm of artificial intelligence and natural language processing, enabling me to create sophisticated bots that engage users in dynamic conversations, understand their needs, and provide seamless experiences.Within the Kore.ai platform, I possess a deep understanding of designing conversational flows that flow naturally.  </div>
          </div>
          <div class="carousel-item">
            <div class="box">
              <div class="client_info">
                <div class="client_name">
                  <h5>
                    Chandrakumar
                  </h5>
                  <h6>
                    Bot Developer / UI designer
                  </h6>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <p>
                I am an accomplished bot developer and a versatile professional with a strong background in UI/UX design and development within the XO Kore.ai platform. With a perfect blend of technical expertise and creative flair, I am dedicated to creating innovative and visually appealing chatbots that deliver exceptional user experiences.As an AI enthusiast, I thrive on integrating cutting-edge technologies into the design process, enabling me to craft conversational interfaces that are not only intuitive but also aesthetically pleasing.            </div>
          </div>
        </div>
        <div class="carousel_btn-box">
          <a class="carousel-control-prev" href="#customCarousel2" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#customCarousel2" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  
  <!-- end client section -->

  <!-- contact section -->

  <section class="contact_section ">
    <div class="container px-0">
      <div class="heading_container ">
        <h2 class="">
          Contact Us
        </h2>
      </div>
    </div>
    <div class="container container-bg">
      <div class="row">
        <div class="col-lg-7 col-md-6 px-0">
          <div class="map_container">
            <div class="map-responsive">
              <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Puducherry" width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 px-0" >
          <form action="#">
            <div>
              <input type="text" placeholder="Name" />
            </div>
            <div>
              <input type="email" placeholder="Email" />
            </div>
            <div>
              <input type="text" placeholder="Phone" />
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Message" />
            </div>
            <div class="d-flex ">
              <button>
                SEND
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->



  <!-- info section -->

  <section class="info_section  layout_padding2-top" style="margin-top: 50px;">
    <div class="social_container">
      <div class="social_box">
        <a href="">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="info_container ">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <h6>
              ABOUT US
            </h6>
            <p>
              At themisto, we're passionate about style and self-expression. Our curated collection brings you the latest trends and timeless classics, tailored to suit your unique tastes.             </p>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_form ">
              <h5>
                Newsletter
              </h5>
              <form action="#">
                <input type="email" placeholder="Enter your email">
                <button>
                  Subscribe
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
              NEED HELP
            </h6>
            <p>
              Our dedicated support team is here to assist you. Whether you have questions about our products or need help, don't hesitate to reach out.</p>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
              CONTACT US
            </h6>
            <div class="info_link-box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>Pondicherry</span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>8667506596</span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> themisto.sales@gmail.com</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer section -->
    <footer class=" footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By Themisto
        </p>
      </div>
    </footer>
    <!-- footer section -->

  </section>

  <!-- end info section -->


  <script src="assets/js/jquery-3.4.1.min.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <script src="assets/js/custom.js"></script>
  <link rel='stylesheet' href='https://bots.kore.ai/webclient/UI/dist/kore-ai-sdk.min.css'></link>
  <script src='https://bots.kore.ai/api/platform/websdkjs/56eb682a785f4edcb767e727929da277434fc0fa716840f9aca486345713d178st71'></script>
  <script>KoreSDK.show(KoreSDK.chatConfig);</script>
</body>

</html>